# Common
README.md
CHANGELOG.md
docker-compose.yml
Dockerfile

# git
.git
.gitattributes
.gitignore

# JetBrains
.idea

# Python
app/__pycache__/
app/*/__pycache__/
app/*/*/__pycache__/
app/*/*/*/__pycache__/
.env
.venv/
venv/

# tests
.pytest_cache/

# alembic migrations
migrations/
alembic.ini

# Local PostgreSQL data
data/

# configs
conf/

# flake8 configs
tox.ini
